<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
  <a href="/dashboard">Back</a>
  <br/>
  <br/>
  <div>
    <form action="/hotel/add" method="post">
      <label for="hotelName">Hotel Name</label>
      <br />
      <input type="text" name="hotelName" id="hotelName" required />
      <br />
      <br />
      <label for="address">Address</label>
      <br />
      <input type="text" name="address" id="address" required />
      <br />
      <br />
      <label for="image">Image Link</label>
      <br />
      <input type="text" name="image" id="image" required />
      <br />
      <br />
      <label for="description">Description</label>
      <br />
      <textarea name="description" id="description" cols="30" rows="10" required></textarea>
      <br />
      <br />
      <input type="submit" value="Submit" />
    </form> 
  </div>
</body>
</html>