<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
  <nav>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
  </nav>
  <main>
    Welcome to Hotel Maniac
  </main>
</body>
</html>