<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>
  <div>
    <form action="/account/create">
      <label for="first_name">First Name</label>
      <br />
      <input type="text" name="first_name" id="first_name" required />
      <br />
      <br />
      <label for="last_name">Last Name</label>
      <br />
      <input type="text" name="last_name" id="last_name" required />
      <br />
      <br />
      <label for="username">Username</label>
      <br />
      <input type="text" name="username" id="username" minlength="5" required />
      <br />
      <br />
      <label for="password">Password</label>
      <br />
      <input type="password" name="password" id="password" minlength="8" maxlength="16" required />
      <br />
      <br />
      <label for="confirm_password">Confirm Passowrd</label>
      <br />
      <input type="password" name="confirm_password" id="confirm_password" required />
      <br />
      <br />
      <input type="submit" value="Submit">
    </form>
  </div>
</body>
</html>