<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
  <div>
    <form action="/account/create" method="post">
      <label for="firstName">First Name</label>
      <br />
      <input type="text" name="firstName" id="firstName" required />
      <br />
      <br />
      <label for="lastName">Last Name</label>
      <br />
      <input type="text" name="lastName" id="lastName" required />
      <br />
      <br />
      <label for="username">Username</label>
      <br />
      <input type="text" name="username" id="username" minlength="5" required />
      <br />
      <br />
      <label for="password">Password</label>
      <br />
      <input type="password" name="password" id="password" minlength="8" maxlength="16" required />
      <br />
      <br />
      <label for="confirmPassword">Confirm Password</label>
      <br />
      <input type="password" name="confirmPassword" id="confirmPassword" required />
      <br />
      <br />
      <input type="submit" value="Submit" />
    </form>
  </div>
</body>
</html>